body {
  font-family: "Times New Roman", Times, serif;
}



/* form inputs group */
div > input {
  border-radius: 10px;
}

input[type="text"] {
  background-color: rgb(7, 7, 7);
  color: white;
}
input[type="email"] {
  background-color: rgb(219, 4, 4);
  color: white;
}

input[type="password"] {
  background-color: rgb(240, 225, 13);
}

/* divs' boxes group */
.box-group {
  background-color: rgb(233, 145, 13);
  height: 100px;
  width: 100px;
  border: 10px solid red;
}

.box-group2 {
  max-width: 200px;
  height: auto;

  border-width: 1px;
  border-style: solid;
  border-color: aqua;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  object-fit: contain;
}

.article-headers {
  font: size 100px;
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: right;
  direction: rtl;
}

img[target="_blank"] {
  background-color: yellow;
}

div.apple {
  border: 1px solid;
  max-width: 200px;
  height: 200px;
  width: auto\9; /* ie8 */
  background-image: url("https://cdn.vox-cdn.com/thumbor/ajQqX6GfVMuJoRYMh2pl3eJsRv0=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/13959855/acastro_190218_1777_apple_streaming_0003.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 1. Make the main headline dark green.*/
/* 2. Use the font family "Georgia" 
      for the main headline and the sub-headline. */
/* 3. Center the text of the main headline and the sub-headline. */
.headers{
  color: green;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.headers>h2{
  color: black;
}

/* 4. Make the paragraphs have a line height of 25 pixels. */
p{
  line-height: 25px;
}

/* 5. Remove the underline from the links. */
a{
  text-decoration: none;  
}

/* 7. Bonus: Make an underline appear when you hover over a link. */
a:hover{
  text-decoration: underline;
}

/* 5. Make the "You might also like" label all uppercase. */
.para4>p{
  text-transform: uppercase;
  font-weight: bold;
}

/* 8. Bonus: Make the image 'float' to the left of the body content. */
.imager {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  float: left;
}

.para1>p .para2 .para3 .para4{
  float: right;
}